= form_for @customers_product do |f|
  - if @customers_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customers_product.errors.count, "error")} prohibited this customers_product from being saved:"
      %ul
        - @customers_product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_id
    = f.number_field :customer_id
  .field
    = f.label :product_id
    = f.number_field :product_id
  .field
    = f.label :quantity
    = f.number_field :quantity
  .field
    = f.label :purchase_price
    = f.text_field :purchase_price
  .actions
    = f.submit 'Save'
